#RECIPE APP
recipe-app/node_modules
recipe-app/.pnp
recipe-app/.pnp.js

# testing
recipe-app/coverage

# production
recipe-app/build

# misc
recipe-app/.DS_Store
recipe-app/.env.local
recipe-app/.env.development.local
recipe-app/.env.test.local
recipe-app/.env.production.local

recipe-app/npm-debug.log*
recipe-app/yarn-debug.log*
recipe-app/yarn-error.log*

#POKEDOX 
# dependencies
pokedox/node_modules
pokedox/.pnp
pokedox/.pnp.js

# testing
pokedox/coverage

# production
pokedox/build

# misc
pokedox/.DS_Store
pokedox/.env.local
pokedox/.env.development.local
pokedox/.env.test.local
pokedox/.env.production.local

pokedox/npm-debug.log*
pokedox/yarn-debug.log*
pokedox/yarn-error.log*


#TODO LIST 
# dependencies
pokedox/node_modules
pokedox/.pnp
pokedox/.pnp.js

# testing
pokedox/coverage

# production
pokedox/build

# misc
pokedox/.DS_Store
pokedox/.env.local
pokedox/.env.development.local
pokedox/.env.test.local
pokedox/.env.production.local

pokedox/npm-debug.log*
pokedox/yarn-debug.log*
pokedox/yarn-error.log*
