.Pokedex-title {
  color: honeydew;
}

.Pokedex-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.Pokedex-winner {
  color: greenyellow;
}

.Pokedex-loser {
  color: red;
}

.Pokedex-exp {
  color: aliceblue;
}
